    /*FUENTES*/
    
    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;600;700&display=swap');
    /*CUSTOM PROPERTIES*/
    
     :root {
        --titulos: 'Dancing Script', cursive;
        --parrafos: 'Cormorant Garamond', serif;
        --t-titulos: 4rem;
        --t-subtitulos: 3.5rem;
        --t-parrafos: 2rem;
        --bold: 700;
        --medium: 500;
        --regular: 300;
        --light: 200;
        --overlay: #FEF5DF;
        --color-subtitle: #1d146e;
        --color-lineas: #870084;
    }
    /*RESET*/
    
    html {
        box-sizing: border-box;
        font-size: 62.5%;
    }
    
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
    
    body {
        font-family: var(--parrafos);
        font-size: 1.6rem;
        line-height: 1.5;
    }
    /*GLOBALES*/
    
    img {
        width: 100%;
    }
    
    .container {
        width: 95%;
        max-width: 120rem;
        /** = 1200px; **/
        margin: 0 auto;
    }
    
    h1 {
        font-size: var(--t-titulos);
    }
    
    h2 {
        font-size: var(--t-subtitulos);
        background-color: #fff;
    }
    
    p {
        font-size: var(--t-parrafos);
        font-family: var(--parrafos);
        margin: 0;
    }
    
    a {
        text-decoration: none;
    }
    /*HEADER*/
    
    .contenido_contenedor {
        height: 100%;
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-top: 2rem;
    }
    
    .contenedor_logo .logo {
        width: 12rem;
        cursor: pointer;
    }
    
    .navegacion>ul {
        display: flex;
        list-style: none;
    }
    
    .navegacion ul li a {
        justify-content: space-around;
        padding: 0 2.5rem;
        text-decoration: none;
        font-size: var(--t-parrafos);
        font-weight: var(--bold);
    }
    
    .navegacion ul li a:last-of-type {
        padding-right: 0;
    }
    
    .title {
        font-size: var(--t-titulos);
        font-family: var(--titulos);
        font-weight: var(--bold);
        text-align: right;
        padding: 0;
        padding-right: 10rem;
        margin-top: -3rem;
    }
    /*CONTENIDO*/
    
    .div_container {
        position: relative;
    }
    
    .container_subtitle {
        background-color: #fff;
    }
    
    .subtitle {
        font-family: var(--parrafos);
        font-size: var(--t-subtitulos);
        color: var(--color-subtitle);
        font-weight: var(--bold);
    }
    
    .subtitle::before {
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        background: var(--color-lineas);
        top: 31px;
        /* left: 25%; */
        z-index: 1;
    }
    
    .subtitle>span {
        padding: 2px 10px 2px 0;
        background-color: #fff;
        position: relative;
        z-index: 2;
    }
    
    .list_cakes {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .cake {
        background: white;
        width: 250px;
        height: 350px;
        transition: 0.6s all ease;
        margin: 0 1rem 20px 1rem;
    }
    
    .img_card {
        transition: 0.4s all ease;
        height: 65%;
    }
    
    .overlay {
        height: 35%;
        transition: 0.4s all ease;
    }
    
    .container_contenido {
        min-height: 100%;
        padding: 20px;
    }
    
    .description {
        visibility: hidden;
        display: flex;
        flex-direction: column;
    }
    
    .cake:hover {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    }
    
    .cake:hover .description {
        visibility: visible;
        transition: 0.4s all ease;
        transition-delay: 0.1999s;
    }
    
    .cake:hover .overlay {
        transition: 0.4s all ease;
        height: 65%;
        opacity: 1;
    }
    
    .cake:hover .img_card {
        height: 35%;
        opacity: 0.8;
        transition: 0.4s all ease;
    }
    /* CONTENIDO CARDS */
    
    .title_card {
        color: #000;
        font-weight: var(--bold);
    }
    
    .letters p {
        color: #000;
    }
    
    .letters p:last-of-type {
        padding-bottom: 2rem;
    }
    
    .add>span {
        color: #000;
        font-weight: 900;
    }
    /* .add>span:hover {
        color: #fff;
    } */
    
    .add {
        margin: 0 auto;
        align-items: center;
        text-align: center;
    }
    
    .add:hover {
        border: 1px solid #000;
        padding: .5rem 1rem;
        transition: .2s all ease-in-out;
    }
    
    .letters>i {
        color: #000;
        font-size: var(--t-parrafos);
        text-align: center;
    }
    /* SECTION EXTRAS*/
    
    .div_extras {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .extra {
        width: 250px;
        height: 350px;
    }